
DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=1
POSTGRES_DB=ssl_monitor
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
REDIS_URL=redis://redis:6379/0
SLACK_WEBHOOK_URL=
DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
